.container {
    /*border: #f54029 3px solid;*/
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.container .tekst {
    /*border: #f54029 3px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(246, 109, 90, 0.7);
    text-align: center;
    width: 80vw;
}

.container .mapa {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(246, 109, 90, 0.7);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80vw;
}

.tekst p {
    font-size: 1rem;
}
.container h1 {
    padding: 20px 0;
}
.ko-smo-mi {
    padding: 30px;
}

.partneri {
    margin: 5px;
    padding: 0 5px;
}
.partneri img{
    width: 70px;
    height: auto;
}
.logo-partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partneri p{
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .container {
        /*border: #f54029 3px solid;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    .container .mapa {
        width: 40%;
        margin-top: 0;
    }

    .container .tekst {
        width: 40%;
    }
}
