.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f66d5a;
}

.footer .social > * {
    margin-right: 30px;
}
