/*Navbar css*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    opacity: 0.85;
    width: 100%;
    height: 100px;
    top: 0;
    padding: 0 20px;
    transition: 0.5s;
    position: sticky;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img {
    height: 100%;
    width: 100px;
    margin-top: auto;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar nav a:hover {
    color: #f66d5a;
    border-bottom: #f66d5a 3px solid;
}

.navbar ul {
    display: flex;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 200px;
        padding: 20px;
        opacity: 0.95;
        z-index: 100;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }
}
